#name {
  float: left;
}

#back {
  float: right;

  @media #{$brk-narrow} {
    display: none;
  }
}

#bottom-nav {
  display: none;

  @media #{$brk-narrow} {
    float: right;
    display: inline;
  }
}