.wrapper {
  @extend %full-width;
  display: flex;
  flex-wrap: wrap;
}

article {
  padding-bottom: 30px;
}


.profile-img {
  display: block;
  margin: 40px auto 10px;
  width: 75%;
}

// Nested selector
#portfolio {
  background: white;
  padding: 10px;

  h2 {
    padding-bottom: 30px;
  }

  img {
    @extend %full-width;
  }
}
