ul {
  list-style: none;
  @extend %full-width;
  padding-left: 0;
}

li {
  @include text(1.2em, 600);
  background: $white;
  margin: 5px 0;
  padding: 5px;
}

a {
  text-decoration: none;
  @include text($color: $black);
}